<div class="ibox">
    <div class="ibox-content">
        <h3>Followers and friends</h3>
        <p class="small">
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing
        </p>
        <div class="user-friends">
            <a href=""><img alt="image" class="rounded-circle" src="img/a3.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a1.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a2.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a4.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a5.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a6.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a7.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a8.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a2.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a1.jpg"></a>
        </div>
    </div>
</div>