<div class="ibox">
    <div class="ibox-content">
        <h3><a href="/People/Index">New friends..</a></h3>
        <p class="small">
            Know new people that are in Fakebook, interact with them, have fun and MASAWA!
        </p>
        <div class="user-friends">
            <a href=""><img alt="image" class="rounded-circle" src="img/a3.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a1.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a2.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a4.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a5.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a6.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a7.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a8.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a2.jpg"></a>
            <a href=""><img alt="image" class="rounded-circle" src="img/a1.jpg"></a>
        </div>
    </div>
</div>