@using FacebookLikeInspinia.ViewModels.People
@using Microsoft.AspNet.Identity
@model IEnumerable<PersonBasicInfoViewModel>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        @if (Model != null && Model.Any())
        {
            foreach (var personBasicInfoViewModel in Model)
            {
                @Html.Partial("_PersonBasicInfoPartial", personBasicInfoViewModel);
            }
        }
        else
        {
            <div class="row">
                <div class="justify-content-center">
                    <h2> No data to show</h2>
                </div>
            </div>
        }

    </div>
</div>

@section scripts
{
    <script>
        $(function () {

            var hub = $.connection.notificationHub;

            hub.client.showConnectedUsers = function (usersCount) {
                console.log("Connected users: " + usersCount);
            }

            $.connection.hub.start().done(function () {
                console.log("Init Connection");
                hub.server.getConnectedUsers()
                    .done(function () {
                        console.log("Init Connection success");

                    }).fail(function (error) {
                        console.log('Invocation failed Init connection. Error: ' + error);
                    });
            });

            $(".follow-action").on("click",
                function () {
                    var $self = $(this);
                    var currentUserId = '@User.Identity.GetUserId()';
                    var followUserId = $(this).attr("data-follow-action-user-id");
                    var followViewModel = {
                        CurrentUserId: currentUserId,
                        FollowUserId: followUserId
                    };

                    $.connection.hub.start().done(function () {
                        hub.server.followUser(followViewModel).done(function () {
                            var content = `<i class="fa fa-check"></i> Following`;
                            $self.addClass("text-info no-hover").html(content);
                        }).fail(function(error) {
                            console.log("could not follow user, something when wrong",error);
                        });
                    });
                });
        });
    </script>
}
